<div class="container">
    <div class="row">
        {{#each articles}}
        <div class="card m-3">
            <div class="card-body">
                <a class="alert-primary" href={{link}} target="_blank"><h5 class="card-title">{{title}}</h5></a>
                <p class="card-text">{{teaser}}</p>
            </div>
            <div class="card-body">

                <a class="btn btn-outline-secondary float-right" href="/articles/{{id}}" role="button">Comments <i class="fa fa-comments"></i></a>
            </div>
        </div>
        {{/each}}
    </div>
</div>



