<div class="container">
    <div class="row">
        <div class="card col-md-4">
            <div class="card-body">
                <h5 class="card-title">Articles</h5>
                 <hr>
                {{!-- <ul>
                    {{#each burgers}}
                    {{#unless devoured}}
                    <li>{{burger_name}}
                        <button class="devour btn btn-outline-dark btn-sm" data-id="{{id}}" data-eaten="{{devoured}}">Eat Me!</button></li>
                    {{/unless}}
                    {{/each}} --}}
                {{!-- </ul> --}}
            </div>
        </div>